# Byggartefakter
.target
target/
**/target/

# Git
.agent
.git
.github
.gitignore

# Devcontainer
.devcontainer
.devcontianer

# Docker
Dockerfile
.dockerignore

# Editor/IDE
*.swp
*.swo
*.idea
*.vscode

# OS-spesifikt
.DS_Store
Thumbs.db

# Miljøfiler
.env
